{% extends 'main/layout.html' %}

{% block title %}
<title>Новости</title>
{% endblock %}

{% block content %}
<h1>Новости</h1>
{% for item in news %}
    <div class="news-block">
        <h2>{{ item.title }}</h2>
        <p><strong>Автор:</strong> {{ item.author }}</p>
        <p><strong>Опубликовано:</strong> {{ item.pub_date }}</p>
        <p><strong>Кратко:</strong> {{ item.short_description }}</p>
        <p><strong>Текст:</strong> {{ item.text }}</p>
        <hr>
    </div>
{% endfor %}
{% endblock %}