{% extends 'news/layoute.html' %}

{% block title %}
<title>Новости</title>
{% endblock %}

{% block content %}
<h1>Новости</h1>
{% for new in news %}
    <div class="news-block">
        <h2>{{ new.title }}</h2>
        <p><strong>Автор:</strong> {{ new.author }}</p>
        <p><strong>Опубликовано:</strong> {{ new.pub_date }}</p>
        <p><strong>Кратко:</strong> {{ new.short_description }}</p>
        <p><strong>Текст:</strong> {{ new.text }}</p>
        <hr>
    </div>
{% endfor %}
{% endblock %}